{% extends "base.html" %}
  {% block content %}

  <section class="cta" id="registration">
    <div class="cta-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>Stop waiting.<br>Start saving.<br> Register Now</h2>
          </div>
          <div class="col-md-6">
            <div class="card border-white" id="register_card">
              <div class="card-body">
                <form action="{{ url_for('register') }}" method="POST">
                  {{ register_form.hidden_tag() }}
                  <div class="form-group">
                    <label for="InputUsername">Username</label>
                    {{ register_form.username(class_="form-control", placeholder="Username", id="InputUsername")}}
                  </div>
                  <div class="form-group">
                    <label for="InputEmail">Email</label>
                    {{ register_form.email(class_="form-control", placeholder="Email address", id="InputEmail")}}
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                      else.</small>
                  </div>
                  <div class="form-group">
                    <label for="Password1">Password</label>
                    {{ register_form.password(class_="form-control", placeholder="Select Password", id="Password1")}}
                  </div>
                  <div class="form-group">
                    <label for="Password2">Repeat Password</label>
                    {{ register_form.password2(class_="form-control", placeholder="Select Password", id="Password2")}}
                  </div>
                  <div class="form-group">
                    <label for="InputCode">Invitation code</label>
                    {{ register_form.invitation_code(class_="form-control", placeholder="Invitation Code", id="invitationCode")}}
                    <small id="invitationHelp" class="form-text text-muted">Sorry, the registration is only by invitation right now. <a  class="js-scroll-trigger" href="#contact">Send us a message!</a></small>
                  </div>
                  {{ register_form.submit( class_="btn btn-primary") }}
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="overlay"></div>
  </section>

  {% endblock %}